<div class="row">
    {% for category in categories %}
        <div class=" catalog-element col-xs-6 col-lg-4">
            <div class="element-image">
                <a href="{{ path('catalog') }}/{{ category.slug }}" >
                    <img alt="{{ category.name }}"  src="{{ asset(category.image) }}" >
                </a>
            </div>
            <h4><a href="{{ path('catalog') }}/{{ category.slug }}">{{ category.name }}</a></h4>
        </div>
    {% endfor %}
</div>
